$baseColor: #20d4f4;
$lightBackground: #e5e5e5;

html, body, h1, h2, h3, h4, div, p {
	margin: 0;
}


html, body,{
	font-size: 62.5%;	
	height: 100%;	

	section {
		height: 100%;
	}
}

#app {
	height: 100%;
}


//header
.header {
	font-size: 1.4rem;
	color: #fff;
	height: 44px;
	background: $baseColor;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	.left-nav {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		line-height: 44px;
		margin-left: 16px;

		img {
			width: 36px;
			height: 36px;
			padding: 4px 8px;
		}
		a {
			color: #fff;
		}
	}
	.center-nav {
		margin: 0 64px;
		display: block;
		line-height: 44px;
		text-align: center;
		font-weight: 400;
		font: 1.6rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.right-nav {
		display: inline-block;
		position: absolute;
		right: 0;
		top: 0;
		line-height: 44px;
		margin-right: 16px;

		a {
			color: #fff;
			line-height: 44px;
			font-size: 3rem;
		}
	}
}


//footer, control bar
.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 44px;
	background: $baseColor;

	.footer-nav-bar{
		display: inline-block;
		width: 25%;
		text-align: center;
		line-height: 44px;
		color: #fff;
		font-size: 1.4rem;
		text-decoration: none;
	}
}


.login {
	.enterplorer {
		padding: 80px 0 20px 0;
		text-align: center;
		font-size: 2.4rem;
	}
	.login-form {
		padding: 20px;
		legend {
			margin-bottom: 0.8rem;
		}
		input {
			height: 2.8rem;
			width: 100%;
		}
		.am-form-group {
			p {
				font-size: 1.4rem;
				padding: 4px;
			}
		}
		.am-option {
			text-align: right;
		}
	}
}

.articles {
	height: 100%;
	padding-top: 44px;

	.article-list {
		padding: 8px 8px 0 8px;
		height: 100%;
		overflow: scroll;

		.list {
			.list-link {
				color: #000;
				display: block;
				padding: 10px 0;

				.title {
					font-size: 1.8rem;
					color: #565656;
					font-weight: bold;
				}
				.other {
					color: #999;
				}
			}
			.line {	
				padding: 0;
				overflow: hidden;
				background-image: -webkit-linear-gradient(top,#ddd,#ddd 60%,transparent 60%);
				background-size: 100% 1px;
				background-position: bottom;
				background-repeat: no-repeat;
				height: 1px;
			}
		}
	}
}


.fr {
	float: right;
}